*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
  }
  #row1{
    background: rgb(46, 116, 219);
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
  }
  .img{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height:90vh;
  
  }
  
  .img2{
    height: 150px;
  }
  .inp
  {
  height: 50px;
  width: 70%;
  border:none;
  outline: none;
  border-radius: 60px;
  -webkit-box-shadow: 10px 6px 17px 4px rgba(0,0,0,0.49);
  -moz-box-shadow: 10px 6px 17px 4px rgba(0,0,0,0.49);
  box-shadow: 10px 6px 17px 4px rgba(0,0,0,0.49);
  }
  a{
    color:black
  }